.banner-main {
    width: 100%;
    height: 800px;
    background: url(/img/banner/Để\ CoCa\ CoCla\ Tiếp\ bước\ cùng\ bạn.png);
    background-size: cover;
    position: relative;
    margin-top: 90px;
}

.slider {
    width: 100%;
    height: 800px;
}

.slider img {
    width: 100%;
    height: 800px;
}

.banner-1 {
    width: 100%;
    height: 700px;
}

.banner-text img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.text {
    position: absolute;
    left: 60%;
    top: 190%;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 10px 5px 10px rgb(255, 255, 255);
    gap: 10px;
}

h1 {
    font-family: titleFont;
    font-size: 90px;
}

/* Phần Hero Video */
.hero__video-container {
    width: 100%;
    overflow: hidden;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__video {
    width: 100%;
    height: auto;
}

.text-video {
    position: absolute;
    text-shadow: 10px 5px 10px rgb(37, 32, 32);
    text-align: center;
    color: var(--text-color);
    font-size: 40px;
    line-height: 1.4;
}

/* Banner Video */
.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #f05050; /* Màu đỏ Coca-Cola */
    padding: 40px 20px;
    text-align: center;
    color: white;
}

/* Phần video */
.video {
    flex: 1;
    max-width: 900px;
    text-align: center;
}

.video iframe {
    width: 100%;
    height: 500px; /* Tăng chiều cao để hiển thị đẹp hơn */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Phần nội dung */
.ndung {
    flex: 1;
    max-width: 500px;
    padding: 20px;
}

.ndung h2 {
    font-size: 32px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.ndung p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 3;
}

/* Nút "Sẵn Sàng" */
.sansang {
    display: inline-block;
    background: #fff;
    color: #ff1b1b;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    width: 300px;
    height: 40px;
}

.sansang:hover {
    background: #e8f70e;
    color: rgb(255, 255, 255);
}  

/* Hình ảnh quảng cáo */
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    width: 100%;
    line-height: 2;
}
.hop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
}

.main-hop img {
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.main-hop img:hover {
    filter: brightness(0.9);
    transform: scale3d(2, 1.5, 3) rotateY(50deg);
}